<main class="container">
  <div class="w-100">
    <div class="">
      <div class="field p-4 p-lg-5 shadow-sm">
        <div class="row">
          <h1 class="fw-bold col-12 col-lg-6">Alle Impfungen</h1>
          <div class="col-12 col-lg-6">


            <div class="mb-4 row">
              <div class="col-12 col-sm-6 col-xl-8 mt-3 mt-lg-0">
                <div class="input-field">
                  <select class="" [(ngModel)]="currentFilter" (change)="filter()">
                    <option *ngFor="let option of filterOptions">{{option}}</option>
                  </select>
                  <label>Filter</label>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-xl-4 mt-sm-3 mt-lg-0">
                <button [routerLink]="['../admin']" class="w-100">Impfung hinzufügen</button>
              </div>

            </div>
          </div>
        </div>

        <div class="vaccinationlist" *ngIf="vaccinations.length != 0">
          <header>
            <div class="row vaccinationlist__header d-flex align-items-center pb-2 pt-3">
              <span class="col-4 col-md-2 fs-small">Datum</span>
              <span class="col-8 col-md-5 fs-small">Ort</span>
              <span class="d-none d-md-flex col-md-3 fs-small">Zeit</span>
              <span class="d-none d-md-flex col-md-2 fs-small">Freie Plätze</span>
              <div class="d-none">
              </div>
            </div>
          </header>
          <a *ngFor="let vaccination of vaccinations" class="vs-vaccination-list-item"
             [routerLink]="vaccination.id">
            <div class="row vaccinationlist__item d-flex align-items-center">
              <span class="col-4 col-md-2 fw-bold">{{vaccination.date | date :'dd.MM.yyyy'}}</span>
              <span class="col-8 col-md-5">{{vaccination.location.title}}
                <small>({{vaccination.location.address.street_address}}, {{vaccination.location.address.zip_code}} {{vaccination.location.address.city}})</small>
              </span>
              <span
                class="d-none d-md-flex col-md-3">
                {{vaccination.start.toString().substring(0, vaccination.start.toString().length - 3)}} -
                {{vaccination.start.toString().substring(0, vaccination.start.toString().length - 3)}} Uhr
              </span>
              <span
                class="d-none d-md-flex col-md-2">
                <span *ngIf="vaccination.max_participants - vaccination.users.length > 5">{{vaccination.max_participants - vaccination.users.length}} Plätze</span>
                <span class="tc-red" *ngIf="vaccination.max_participants - vaccination.users.length > 0 && vaccination.max_participants - vaccination.users.length <= 5">Nur noch {{vaccination.max_participants - vaccination.users.length}} Plätze</span>
                <span *ngIf="vaccination.max_participants - vaccination.users.length == 0">-</span>
              </span>
            </div>

          </a>
        </div>
        <div *ngIf="vaccinations.length === 0" class="py-2">
          <p>Keine Impfungen verfügbar</p>
        </div>
      </div>
    </div>
  </div>
</main>
