<main class="container">
  <div class="w-100">
    <div class="col-12 col-lg-12">
      <div class="field p-4 p-lg-5 shadow-sm ">
        <h2 class="fw-bold">Admin-Panel<h2 *ngIf="!isUpdatingVaccination" class="d-inline fw-bold">: Neue Impfung
          anlegen</h2>
          <h2 *ngIf="isUpdatingVaccination" class="d-inline fw-bold">: Impfung bearbeiten</h2></h2>
        <p *ngIf="!isUpdatingVaccination">In folgendem Formular können Sie eine neue Impfung anlegen. Bitte achten Sie
          darauf alle Informationen korrekt einzugeben. Nach dem Speichern ist es für Personen möglich sich dafür
          anzumelden!</p>


        <form class="mt-3" [formGroup]="vaccinationForm" (ngSubmit)="submitForm()">

          <input type="hidden" name="id">

          <div class="my-4">
            <h4 class="fw-bold mb-3">Zeitpunkt</h4>

            <div class="input-field">
              <input formControlName="date" type="date" placeholder="TT.MM.JJJJ">
              <label>Datum<span class="tc-red"> *</span></label>
            </div>

            <div class="row">
              <div class="col-12 col-lg-6">
                <div class="input-field">

                  <input type="time" formControlName="start" placeholder="HH:MM">
                  <label>Startzeit<span class="tc-red"> *</span></label>
                </div>
              </div>

              <div class="col-12 col-lg-6">
                <div class="input-field">
                  <input formControlName="end" type="time" placeholder="HH:MM">
                  <label>Endzeit<span class="tc-red"> *</span></label>
                </div>
              </div>
            </div>
          </div>

          <div class="my-4">
            <div [formGroup]="location">
              <h4 class="fw-bold mb-3">Ort</h4>
              <input type="hidden" name="id">

              <div class="input-field">
                <input formControlName="title">
                <label>Name der Location<span class="tc-red"> *</span></label>
              </div>
              <address [formGroup]="address" class="mb-0">
                <div class="input-field">
                  <input formControlName="street_address">
                  <label>Straße & Hausnummer<span class="tc-red"> *</span></label>
                </div>

                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="input-field">
                      <input formControlName="zip_code" maxlength="4">
                      <label>PLZ<span class="tc-red"> *</span></label>
                    </div>
                  </div>

                  <div class="col-12 col-lg-6">
                    <div class="input-field">
                      <input formControlName="city">
                      <label>Ort/Stadt<span class="tc-red"> *</span></label>
                    </div>
                  </div>
                </div>
              </address>

              <div class="input-field">
                <textarea formControlName="description" rows="3"></textarea>
                <label>Zusätzliche Beschreibung</label>
              </div>
            </div>


          </div>

          <div class="my-4">
            <h4 class="fw-bold mb-3">Zusätzliche Informationen</h4>

            <div class="input-field">
              <input formControlName="max_participants" type="number" maxlength="3">
              <label>Anzahl Teilnehmer:innen<span class="tc-red"> *</span></label>
            </div>
          </div>

          <button type="submit" [disabled]="vaccinationForm.invalid">Speichern</button>
        </form>

      </div>
    </div>
  </div>
</main>
