<main class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="field p-4 p-lg-5 shadow-sm ">
      <h1 class="fw-bold">HOME WORKS</h1>
      <p class="">SVNR: 4102, Geburtsdatum: 14.06.2000</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
        dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
      <button>Alle anzeigen</button>

      <button class="button--secondary">Alle anzeigen</button>

    </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="field p-4 p-lg-5 shadow-sm">
        <h1 class="fw-bold">Lisa-Maria Schedlberger</h1>
        <p class="">SVNR: 4102, Geburtsdatum: 14.06.2000</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aspernatur aut beatae blanditiis cumque deleniti
          dolore doloribus ducimus earum, eligendi enim ex impedit molestias optio quae quod reiciendis sequi vero.</p>
        <button>Alle anzeigen</button>

        <button class="button--secondary">Alle anzeigen</button>

      </div>
    </div>

  </div>
</main>
