<main class="container">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="field p-4 p-lg-5 shadow-sm ">
        <h1 class="fw-bold">Werde auch <h1 class="fw-bold tc-red d-inline mb-0">Du </h1> Lebensretter:in!</h1>
        <p>Covid-19 hat in den vergangenen Jahren schon zu vielen Menschen das Leben gekostet.
          Es wird Zeit, dass dagegen etwas unternommen wird. Also hilf auch du mit und werde Lebensretter:in!</p>
        <p>Was du dafür tun musst? Ganz einfach: Registrieren, anmelden, kurz piecksen lassen und schon hilfst du mit, denn:</p>
        <h3 class="fw-bold my-2 mb-4">Impfen rettet Leben!</h3>
        <p>Bist du bereit Lebensretter:in zu werden? Dann klick hier um zum Login oder zur Registierung zu gelangen und schon bist du dabei.</p>
      <button class="button--secondary" routerLink="/login">Jetzt anmelden</button>

    </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="field p-4 p-lg-5 shadow-sm">
        <div class="row mb-4">
          <h2 class="fw-bold col-12 col-md-6">Anstehende Impfungen</h2>
          <div class="col-12 col-md-6 d-flex justify-content-md-end">
            <button routerLink="/impfungen">Alle anzeigen</button>
          </div>
        </div>
        <div class="vaccinationlist" *ngIf="vaccinations.length != 0">
          <header>
            <div class="row vaccinationlist__header d-flex align-items-center pb-2 pt-3">
              <span class="col-4 col-md-2 fs-small">Datum</span>
              <span class="col-8 col-md-4 fs-small">Ort</span>
              <span class="d-none d-md-flex col-md-3 fs-small">Zeit</span>
              <span class="d-none d-md-flex col-md-3 fs-small">Freie Plätze</span>
              <div class="d-none">
              </div>
            </div>
          </header>
          <a *ngFor="let vaccination of vaccinations" class="vs-vaccination-list-item"
             [routerLink]="['/impfungen', vaccination.id]">
            <div class="row vaccinationlist__item d-flex align-items-center">
              <span class="col-4 col-md-2 fw-bold">{{vaccination.date | date :'dd.MM.yyyy'}}</span>
              <span class="col-8 col-md-4">{{vaccination.location.title}}</span>
              <span
                class="d-none d-md-flex col-md-3">
                {{vaccination.start.toString().substring(0, vaccination.start.toString().length - 3)}} -
                {{vaccination.end.toString().substring(0, vaccination.end.toString().length - 3)}} Uhr
              </span>
              <span
                class="d-none d-md-flex col-md-3">
                <span *ngIf="vaccination.max_participants - vaccination.users.length > 5">{{vaccination.max_participants - vaccination.users.length}} Plätze</span>
                <span class="tc-red" *ngIf="vaccination.max_participants - vaccination.users.length > 0 && vaccination.max_participants - vaccination.users.length <= 5">Nur noch {{vaccination.max_participants - vaccination.users.length}} Plätze</span>
                <span *ngIf="vaccination.max_participants - vaccination.users.length == 0">-</span>
              </span>
              <div class="d-none">
                <span>{{vaccination.end}}</span>
              </div>
            </div>

          </a>
        </div>
        <div *ngIf="vaccinations.length === 0" class="py-2">
          <p>Keine Impfungen verfügbar</p>
        </div>

      </div>
    </div>

  </div>
</main>
