<main class="container">
  <div class="row">
    <div class="col-12">
      <div class="field p-4 p-lg-5 shadow-sm">
        <h2 class="fw-bold">Impfungen verwalten</h2>
        <p>Sie können im Admin-Panel alle bestehenden Impfungen verwalten, sowie neue hinzufügen.</p>
        <div>
          <div class="my-4 mt-5">
            <h3 class="fw-bold">Bestehende Impfungen</h3>
            <p>Hier gelangen Sie zu den bestehenden Imppfungen, die sie in weiterer Folge bearbeiten und/oder löschen können, sofern diese noch nicht abgeschlossen sind.</p>
            <button routerLink="/impfungen" class="button--secondary">Impfungen verwalten</button>
          </div>
        </div>

        <div>
          <div class="my-4 mt-5">
            <h3 class="fw-bold">Neue Impfung hinzufügen</h3>
            <p>Hier können Sie eine neue Impfung hinzufügen, bei der sich Nutzer:innen anschließend anmelden können.</p>
            <button routerLink="/admin/impfung" class="button--secondary">Neue Impfung anlegen</button>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="col-12 col-lg-6">
      <div class="field p-4 p-lg-5 shadow-sm">
        <h2 class="fw-bold">Nutzer:innen verwalten</h2>
        <h3 class="fw-bold tc-red">Coming soon :-)</h3>
        <div class="vaccinationlist">
          <div class="my-4 mt-5">
            <h3 class="fw-bold">TODO Neue Impfung hinzufügen</h3>
            <p>TODO</p>
            <button routerLink="/admin/impfung" class="button--secondary">Neue Nutzer:in anlegen</button>
          </div>
        </div>
      </div>
    </div>-->

  </div>
</main>
