html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background-color: $lightblue;

  @media (min-width: 992px) {
    overflow: hidden;
  }
}

body, * {
  box-sizing: border-box;
}

.link {
  cursor: pointer;
}

a {
  text-decoration: none;
}
