body {
  margin: 0 auto;
  background-color: $lightblue;

  @media (min-width: 992px) {
    overflow: hidden;
  }
}

body, * {
  box-sizing: border-box;
}

.link {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.m-0-auto {
  margin: 0 auto;
}

.row {
  @media (min-width: 992px) {
    width: calc(100% + 1.5rem);
  }
}
