main {
  margin-top: 70px;
  padding-top: 10px;

  @media (min-width: 992px) {
    padding-top: 0px;
    display: flex;
    align-items: center;
    height: calc(100vh - 70px);
  }

  .field {
    background: white;
    margin-bottom: 10px;

    @media (min-width: 992px) {
      height: 75vh;
      margin-bottom: 40px;
      overflow-y: scroll;
    }
  }
}
