.header {
  background-color: rgba(255, 255, 255, 0.4);
  height: 70px;
  position: absolute;
  width: 100vw;
  top: 0;

  &__logo {
    cursor: pointer;

    // disable hover styles for logo
    a:hover, a:focus {
      span.tc-darkblue {
        color: $darkblue !important;
      }

      span.tc-red {
        color: $red !important;
      }
    }

    span {
      line-height: 12px;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none;
    }
  }

  &__nav {
    a.active {
      color: $red;

      span {
        color: $red;
      }
    }
  }
}
